@model WordrobeMVC.Cloth

@{
    ViewBag.Title = "Clothes Details";
}

<h2>Details</h2>

<div class="details">
    <h4 class="hometitle" style="font-family: 'Hanalei Fill', cursive!important;">Clothing Details</h4>
    <hr />
    @Html.DisplayNameFor(model => model.Name) :

    @Html.DisplayFor(model => model.Name)

    <br />
    @Html.DisplayNameFor(model => model.Color.ColorName) :

    @Html.DisplayFor(model => model.Color.ColorName)
    <br />
    @Html.DisplayNameFor(model => model.Occassion.OcassionName) :

    @Html.DisplayFor(model => model.Occassion.OcassionName)
    <br />
    @Html.DisplayNameFor(model => model.Season.SeasonName) :

    @Html.DisplayFor(model => model.Season.SeasonName)
    <br />
    @Html.DisplayNameFor(model => model.Type.Category) :

    @Html.DisplayFor(model => model.Type.Category)

    <p class="backtolist">
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ClothingID }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>