@model IEnumerable<WordrobeMVC.Cloth>

@{
    ViewBag.Title = "Index";
}

<h2 class="hometitle" style="font-family: 'Hanalei Fill', cursive !important;">Clothes</h2>

@*<p class="hometitle">
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="clothespage">
        @*<div>
            @Html.DisplayNameFor(model => model.Name)

            @Html.DisplayNameFor(model => model.Photo)

            @Html.DisplayNameFor(model => model.Color.ColorName)

            @Html.DisplayNameFor(model => model.Occassion.OcassionName)

            @Html.DisplayNameFor(model => model.Season.SeasonName)

            @Html.DisplayNameFor(model => model.Type.Category)
        </div>*@

@foreach (var item in Model) {
    <div class="clothes">
        @if (item.Type.Category == "Tops")
        {<div class="topsimage"><br /><br /><br /><br /><br /></div>}
        @if (item.Type.Category == "Shoes")
        {<div class="shoesimage"><br /><br /><br /><br /><br /></div>}
        @if (item.Type.Category == "Bottoms")
        {<div class="bottomsimage"><br /><br /><br /><br /><br /></div>}
        @if (item.Type.Category == "Accessories")
        {<div class="accessoriesimage"><br /><br /><br /><br /><br /></div>}
        <div>
            @Html.DisplayFor(modelItem => item.Name)
            <br />

            <div style="color:@item.Color.ColorName">@Html.DisplayFor(modelItem => item.Color.ColorName)</div>

            @Html.DisplayFor(modelItem => item.Occassion.OcassionName)
            <br />

            @Html.DisplayFor(modelItem => item.Season.SeasonName)
            <br />

            @Html.DisplayFor(modelItem => item.Type.Category)
            <br />
            <br />
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ClothingID }) |*@
            <div class="detailsbutton">@Html.ActionLink("Details", "Details", new { id = item.ClothingID })</div>
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ClothingID })*@
        </div>
    </div>
}

</div>
