@model IEnumerable<WordrobeMVC.Color>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @Html.DisplayNameFor(model => model.ColorName)
</div>
<div>
    @foreach (var item in Model)
    {
        <div>
            @Html.DisplayFor(modelItem => item.ColorName)
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = item.ColorID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ColorID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ColorID })

        </div>
    }
</div> 

 
